ul.popover {
  background-color: #fafafa;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  margin: 0px;
  padding: 0px;
  display: none;
  position: absolute;
  list-style-type: none;
}
ul.popover li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
}
ul.popover li h2 {
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  padding-left: 40px;
}
ul.popover ul {
  margin: 0px;
  padding: 0px;
  margin-top: 3px;
  margin-bottom: 20px;
  padding-left: 60px;
}
